{
  "env": {
    "es6": true,
    "browser": true,
    "commonjs": true,
    "node": true,
    "jest": true
  },
  "parser": "@babel/eslint-parser",
  "settings": {
    "ecmascript": 6
  },
  "plugins": ["react", "import"],
  "extends": ["airbnb", "plugin:prettier/recommended"],

  "rules": {
    "import/extensions": "off",
    "import/no-unresolved": "warn",
    "no-else-return": "off",
    "no-plusplus": "off",
    "no-unused-vars": "warn",
    "react/prop-types": "warn",
    "react/destructuring-assignment": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-find-dom-node": "off",
    "react/prefer-stateless-function": "off",
    "react/sort-comp": "off",
    "react/static-property-placement": "off"
  }
}
